*{
	margin: 0;
	font-family: 'Slabo 27px', serif;
}


.container{
	margin:auto;
	width:auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: 100px;
}
header{
	background-color: #fff;
	grid-column:1/5;
	grid-row:1;
	height: 80px;

}
header{
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    opacity: 0.99;
    
}

.logo{
	float: left;
	margin-left:40px;
}
.nav{
	float: right;
	margin-right: 100px;
	line-height: 100px;

}
.nav a{
	text-decoration: none;
	color: #3399FF;
	padding: 40px;
}


section{
	grid-column:1/5;
	grid-row:1/4;
}
#cover img{
	width: 100%;
	height: 750px;
}

   .mainimg{
   	grid-column:1/2;
	grid-row:9/12;
	margin-left: 100px;
   	
   }
   .mainimg img{
   	border: 1px solid #000;
   	box-shadow: 10px 10px 10px #000;
   	width: 400px;
   	height: 300px;
   }
   .mainpar{
   	grid-column:2/5;
	grid-row:9/12;
	margin-left: 100px;
	margin-right: 100px;
   	
   }

.mainpar h2{
	font-size: 40px;
	padding: 50px;
}
.para{
	text-align:justify;
	color:#3399FF;
	font-size: 24px;
	margin-right: 100px;

}
#section1{
	grid-column: 1/5;
	 grid-row: 13/14;
	

}
#section1 h5{
	text-align: center;
	font-size: 30px;
	padding-bottom: 30px;
}

	
#b{
	box-shadow: 20px 20px 20px #000;
}

.cont{
	grid-column:1/2;
	grid-row: 14/16;
	margin-left: 50px;

}
.cont1{
	grid-column: 2/3;
	grid-row: 14/16;
}

.cont2{
	grid-column:3/4;
	grid-row: 14/16;
	}
.cont3{
	grid-column:1/2 ;
	grid-row: 18/20;
	margin-left: 50px;
}
.cont4{
	grid-column: 2/3;
	grid-row: 18/20;
	
}
.cont5{
	grid-column: 3/4;
	grid-row: 18/20;
	}
.cont6{
	grid-column: 1/2;
	grid-row: 22/24;
	margin-left: 50px;
	
	
}
.cont7{
	grid-column: 2/3;
	grid-row: 22/24;
	
}
.cont8{
	grid-column: 3/4;
	grid-row: 22/24;
	
	}
.cont9{
	grid-column: 1/2;
	grid-row: 26/28;
	margin-left: 50px;
	
	
}
.cont10{
	grid-column: 2/3;
	grid-row: 26/28;
	}
.cont11{
	grid-column: 3/4;
	grid-row: 26/28;
	}		


#zoom{
	width: 300px;
	height: 300px;
	box-shadow: 20px 20px 20px #000;
	
}


#zoom:hover{
  transform: scale(0.9); 
  box-shadow: 10px 20px 20px black;
}
#a h3{
	
	font-size:25px;
	padding-bottom: 30px;
}
.hotels{
	grid-column: 1/5;
	grid-row: 30/37;
	background-color:#F0F8FF;

}
.hotels h2{
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
}
.hotels img{
	width: 140px;
	height: 140px;
	margin: 60px;
}
.resturant{
	grid-column: 1/5;
	grid-row: 38;
}
.resturant h2{
	text-align: center;
	font-size: 40px;
}

#img1{
	width: 400px;
	height: 200px;
	
}
#img1:hover{
	box-shadow: 10px 20px 20px #000;
}
#r1{
	grid-column: 1/2;
	grid-row: 39/41;
	margin-left: 100px;

}
#r2{
	grid-column: 2/3;
	grid-row: 39/41;

}
#r3{
	grid-column: 3/4;
	grid-row: 39/41;
	}
#r4{
	grid-column: 1/2;
	grid-row: 42/45;
    margin-left: 100px;


}
#r5{
	grid-column: 2/3;
	grid-row: 42/45;
	

}
#r6{
	grid-column: 3/4;
	grid-row: 42/45;

}
.form{
	grid-column: 1/5;
	grid-row: 45/50;
	border-radius: 5px;
	background-color:#fff;
	padding: 20px;
	margin-left: 200px;

}
.form-style-3{
	max-width: 1000px;
	
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #F0F8FF;
	padding: 25px;
	background: #F0F8FF;
	box-shadow: inset 0px 0px 15px #F0F8FF;
	-moz-box-shadow: inset 0px 0px 15px #F0F8FF;
	-webkit-box-shadow: inset 0px 0px 15px #F0F8FF;
}
.form-style-3 fieldset legend{
	color: #000;
	border-top: 1px solid #F0F8FF;
	border-left: 1px solid #F0F8FF;
	border-right: 1px solid #F0F8FF;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #F0F8FF;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F0F8FF;
	-moz-box-shadow:-0px -1px 2px #F0F8FF;
	-webkit-box-shadow:-0px -1px 2px #F0F8FF;
	font-weight: normal;
	font-size: 30px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #F0F8FF;
	outline: none;
	color: #000;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #fff;
	background: #fff;
	width: 300px;
	font-size:19px;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #F0F8FF;
	border: 1px solid #000;
	padding: 5px 15px 5px 15px;
	color: #000;
	box-shadow: inset -1px -1px 3px #000;
	width: 90px;
	font-size: 17px;
	font-weight: bolder;
}
.required{
	color:red;
	font-weight:normal;
}




	form{
		margin-top: 50px;
		transition: all 4s ease-in-out;
		text-align: center;
	}
	
	.submit{
		height: 54px;
		background-color:white;
		border-color: transparent;
		color: #000;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 2px;
		height: 45px;
		margin-top: 20px;
		width: 120px;
	}
	


footer{
	grid-column: 1/5;
	grid-row:51/52 ;
	color: #0080ff;
	}
footer a{
	text-decoration: none;
	color: #0080ff;	 
}
#Privacy{
	float: left;
	margin-left: 100px;
}

#copyright{
	float: left;
	margin-left: 200px;
}
.social{
	float: right;
	margin-right: 100px;
	
}




